In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import accuracy_score

In [5]:
headnames = ['Year', 'AgeGroup']

In [24]:
dataset = pd.read_csv("Age_RandomForest_2.csv", names = headnames)
dataset

    Year AgeGroup
0   1921   Senior
1   1935   Senior
2   1946   Senior
3   1951   Senior
4   1957   Senior
5   1959   Senior
6   1960   Senior
7   1961    Adult
8   1962    Adult
9   1967    Adult
10  1969    Adult
11  1973    Adult
12  1978    Adult
13  1982    Adult
14  1987    Adult
15  1994    Adult
16  1997    Adult
17  1999    Adult
18  2000     Teen
19  2002     Teen
20  2004     Teen
21  2006     Teen
22  2007     Teen
23  2009     Teen
24  2010    Child
25  2011    Child
26  2012    Child
27  2014    Child
28  2016    Child
29  2018    Child
30  2020    Child

In [11]:
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, 1]

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size = 0.30)

In [15]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 50)
classifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [18]:
y_pred = classifier.predict(X_test)

In [19]:
result = accuracy_score(y_test, y_pred)
print("Accuracy:", result)

Accuracy: 0.9

In [25]:
classifier.predict([['2007']])

array(['Teen'], dtype=object)